<html>
    <body>
        <h1>Public Secure Verifier</h1>
        <p>Revocation Status:<%= revoke_flag %></p>
        <p><br>Retrieve Data :<br>
        </p>
        <p>Okta ID: <%= okta_id %></p>
        <p>Email: <%= email %></p>
        <p><br>Return to home:<br>
            <a href = "/" title="New proof request">New Proof Request</a>
        </p>            
    </body>
</html>
